Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyTCCArECFFyQAbJayj5tcud+TAdELkLTVKvyMA0GCSqGSIb3DQEBCwUAMIGg
      MQswCQYDVQQGEwJVUzETMBEGA1UECAwKV2FzaGluZ3RvbjEQMA4GA1UEBwwHU2Vh
      dHRsZTEOMAwGA1UECgwFQ2V0ZXAxEjAQBgNVBAsMCU1hcmtldGluZzEaMBgGA1UE
      AwwRdGVzdC50ZWxlY2V0ZXAuY2wxKjAoBgkqhkiG9w0BCQEWG29zY2FyLnRlbGxv
      QGNsb3VkaGVzaXZlLmNvbTAeFw0yMzAzMTMyMzAzMzdaFw0yNDAzMTIyMzAzMzda
      MIGgMQswCQYDVQQGEwJVUzETMBEGA1UECAwKV2FzaGluZ3RvbjEQMA4GA1UEBwwH
      U2VhdHRsZTEOMAwGA1UECgwFQ2V0ZXAxEjAQBgNVBAsMCU1hcmtldGluZzEaMBgG
      A1UEAwwRdGVzdC50ZWxlY2V0ZXAuY2wxKjAoBgkqhkiG9w0BCQEWG29zY2FyLnRl
      bGxvQGNsb3VkaGVzaXZlLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
      ggEBAKPv9LyGlTV4WjT0OVTdQkJopyFaXKOqTUkYCuu75WuSPRZFyyCaL0M7YtpW
      yZ8nOhYZvMN1zZ4QN6mwf6xO+Ix+xp68OQxtxaUG/OgOx10kZpVYVOR161lSyKp3
      68iTETVDi+RB/KxtfhCRs/c4yBV+ja5k/8c+ev0rxK8ByUhXL9d5HSW7fwMvPQCW
      0LUg4ShVIqsVvIij2Q56g0NH9Iz5BW62pKzUVrapDJgjYLlzQEXYcMUDf56sQema
      UUyCU1m3AJpLdkTX2bc3TaDA6YmvJj6GKKihhu8DbWP1zdxtuu7z8mP1IJsB11xG
      7WkkkGAVDqwaOX1ujSeY+SlA6j0CAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAT2Ml
      VMal0wA5kadL91/KHj30Sf2yq++yrg/lWsnChkXpoWJr4az8X1qLRpwrFGDz67Am
      8F9li3I7EFiIRQVx4KZyFcbPsAmhm5b5py5WDdPkAuM6wG7LIUIy/qau/qMmc+wz
      4rkPCM9on0q/eIbCtHnfnEies/UBZ9/oLRns1UfmRgzEJmP1JHpT4i3pLLYLAT5w
      GyaeEkrBcZdUEYP/2b7RN3EGVpoU1u27C+5v3bHYZFASeqTDSv8HVXG+Hx5BHnhc
      u8snZYwdjA79yN7tpEC80bXope9aDZ8lhN48qt1ckMofwKWUWE47dAZNuBVU9+lL
      8Zak2BA4iP98WemzWA==
      -----END CERTIFICATE-----

  /etc/pki/tls/private/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCj7/S8hpU1eFo0
      9DlU3UJCaKchWlyjqk1JGArru+Vrkj0WRcsgmi9DO2LaVsmfJzoWGbzDdc2eEDep
      sH+sTviMfsaevDkMbcWlBvzoDsddJGaVWFTkdetZUsiqd+vIkxE1Q4vkQfysbX4Q
      kbP3OMgVfo2uZP/HPnr9K8SvAclIVy/XeR0lu38DLz0AltC1IOEoVSKrFbyIo9kO
      eoNDR/SM+QVutqSs1Fa2qQyYI2C5c0BF2HDFA3+erEHpmlFMglNZtwCaS3ZE19m3
      N02gwOmJryY+hiiooYbvA21j9c3cbbru8/Jj9SCbAddcRu1pJJBgFQ6sGjl9bo0n
      mPkpQOo9AgMBAAECggEAAOkzmXFAAVY5Xhj1++2SJtn7r8OXnIXfkbvooksJfnxc
      tYkkFKV2r290Naq3dRhxNK/mQh8fSjUPMh9byO0paWfHmm3eUp4w3na4T2EhpM1a
      epL36csT8zZIDNZyFiERvpOGV/mGj2i5A3Dj00haqEVAlqBTYYaMhWf0Wv/uCpEF
      1x3pldzQZuLwNi4kxAEJsmu0z5YkLaAkyGFIEG52Ng1PpPwN8sQub0zsQAeasUgz
      /l4bHDnZamWPiI9fZZGLqNZjI0hdLS2qMNfOLJrESt5ESvxFITCvccBdyxkJ/g19
      GfQ/aTYP0caM0mUBgp50nZRVnBUdtEtdyCpNT74wywKBgQC7qGwEvXNwZpeNLHBQ
      iz8wFmJV6QC8qmCxUDmBg+QDhBZVpq1TNTVmzvlJPpcEkNhuv6zbwlODK+w5oHsJ
      svU8F6QyQ9RPB7T4Md18fm+4fRx080W9ASJpwSx4QJBM/viNI8MFJ0UHm7rRYJ3p
      i7eSXPWx/hxExAQjjz4shwGOawKBgQDfpAk0N0LVS6DfqjDZVmyfSl8hJMQ0o1Zv
      MhUcMZsGWT5JaGi8VAeJ/IZAgz5KbgnP1YlT3oM/aM7YDAeGrLBuRmAmjw28W1vL
      9SBlLG9B8VmFakFk4wcphowtKsdFSDS/lYUG7K9fhrEapH7JUCbhomGpAsawIUoF
      oiMp3Q/D9wKBgHKR5UEPmYcqW6SpWPkTysRFJkxlMTn+m4ImBLX6HB+5aRlp5bBD
      cBMQkkoRmIoFFN6oz5RsFCiljFeyjuvhArBpjqnRl7GYdviBGUSEvRjZ6aHNVOqL
      4sLGWawhXvhjQsSI7OwciZyXi3uBjWelEbKeZrMA/alOM2iyb7cnxd95AoGAfUi9
      xzy1+huWEfabywV5cHsPc9fO+tYOE9jwroyzlgjktecB1Y8Vch2/b+CWQsgGQyIS
      /qMGz7z9M1b52F5hsEVIlBFL1psvf8Dg1wzffwef6Pevjr8IQiEX4i222H8s3a77
      iPeK/27LRGumg0ydm4WGRFJD0GO1vhYosMkgjd0CgYEAsNtWTVbiaNZSCFsDsRNg
      m4J/ffT4bnJ23wciTl9jWHHnMERLONxXVYm7PDkPKwoIob7xBlP8hNcUX9iOOpb+
      vD9yYJVHz4yz6dHKl1JX6/p9Ngrsd6bWWqA/+Aj4bMG9fbsaNLJZ9XTp2eEmxtsU
      L/6MNHouSeEOSXCDnYh4zLM=
      -----END RSA PRIVATE KEY-----